<!DOCTYPE html>

<html>

<head>

    <title>Administración</title>

</head>

<body>

<h1>Administración</h1>

<hr>

<p>

<a href="/estadisticas">

Estadísticas

</a>

</p>

<p>

<a href="/sin_imagen">

Artículos sin imagen

</a>

</p>

<p>

<a href="/ubicaciones">

Gestionar ubicaciones

</a>

</p>

<p>

<a href="/sin_ubicacion">

Artículos sin ubicación

</a>

</p>

<p>

<a href="/cajas">

Gestionar cajas

</a>

</p>

<p>

<a href="/ver_ubicaciones">

Ver contenido ubicaciones

</a>

</p>

<p>

<a href="/seleccion_masiva">

Movimiento masivo

</a>

</p>

<p>

<a href="/backup">

Copia de seguridad

</a>

</p>

<p>

<a href="/">

Volver al inicio

</a>

</p>

</body>

</html>